<a href="https://colab.research.google.com/github/Rajshahil572/advance-Python/blob/main/Copy_of_Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# slicing
#[starting point : ending_point : steps] n+1
str = "kunal bhai"
print(str[9:0:-3])
print(str[8:0:-2])

iba
abln

In [ ]:
#condition
#if else
#age = 20
if age >18:
  print("you can vote")
else:
  print("bade hokar karna ")


#if elif else
int=input("inter your age")
if age <=12:
  print("child")
elif age <=19:
  print("teen")
elif age <=35:
  print("young Adult")
else:
 print("adult")

NameError: name 'age' is not defined

In [ ]:
mark =int(input("inter your mark = "))
if mark >=90:
  print("grade A")
elif mark >=80 and mark <90:
    print("grade B")
elif mark >=70 and mark <80:
      print("grade C")
elif mark >=60 and mark <70:
        print("grade D")
elif mark >=45 and mark <60:
          print("grade E")
else:
            print("fail")

string and list in python are similar but string are immutable and list are mutable you can acsess the string but in list you can acess or change it also

In [ ]:
#list
#student = ["aman", 88.5, 45, "shahil"]
#print("student")


#mutation
#student = ["aman", 88.5, 45, "shahil"]
#student[1] ="khushi" # Corrected 'Student' to 'student'
#print(student)

list = [55,96,36,65,59]
list.sort()
print(list)

list.reverse()
print(list)

In [ ]:
list = ["aman","khushi","abhishek","shahil"]
list.append("aman")
print("list")

list = [55,56,57,58,59]
list.insert(2,"100")
print(list)

list = ["aman", "khushi", "abhishek", "shahil"]
list.remove("khushi")
print(list)

list = ["aman", "khushi", "abhishek", "shahil"]
list.pop(1)
print(list)

In [ ]:
favorite_movies = []

print("Please enter the names of your four favorite movies:")

movie_1 = input("Enter movie #1: ")
movie_2 = input("Enter movie #2: ")
movie_3 = input("Enter movie #3: ")
movie_4 = input("Enter movie #4: ")

favorite_movies.extend([movie_1, movie_2, movie_3, movie_4])

print(favorite_movies)

In [ ]:
list = (1,2,3,4,5)
if list == list[::-1]:
     print("The list is palindrome")
else:

      print("The list is not palindrome")

In [ ]:
# tuples
tup = (85,45,63,75)
print(type(tup))
print(tup[1])

In [ ]:
tup = (55)
print(type(tup))

tup = ("55")
print(type(tup))

a = 55,65
print(type(a))

In [ ]:
# tuple method

tup = (5,9,6,4,3,4)
print(tup.index(3))

tup = (5,9,6,4,3,4)
print(tup.count(4))

wap to ask the user to inter name of there four fav moive and store them in a list

In [ ]:
# dictionaries
dict = {"name : kunal", "age : 20"}
print(dict)

In [ ]:
info = {
    "name" : "aman",
    "roll" : 45,
    "subject" :["ml","python","advance"],
    "topic" :["set", "dict"],
    "age" : 26
}
print(info)
print(info["name"])
print(info["roll"])
print(info["subject"])
print(info["topic"])

In [ ]:
# nested
student = {
    "name" : "kunal",
    "age" : 20,
    "subject" : { "physics":98,
                 "chemistry":99,
                 }
}
print(student)
print(["name"])
print(student["age"])
print(student["subject"]["physics"])

In [ ]:
info = {
    "name" : "aman",
    "roll" : 45,
    "subject" :["ml","python","advance"],
    "topic" :["set", "dict"],
    "age" : 26
}
print(info.keys())
print(info.values())
print(info.items())
print(info.get("name"))

In [ ]:
my_set_variable = {"shahil","raj",45,43,12}
print(my_set_variable)

Unordered collection (order fix nahi hota)

Unique elements only (duplicates allowed nahi)

Mutable (add/remove kar sakte ho)

In [ ]:
a = set()
print(type(a))

In [ ]:
#set method
a = set()
a.add(55)
print(a)

a = {54,25,69,85,75}
a.add(55)
print(a)

In [ ]:
#set method
a = {54,25,69,855,75}
a.remove(25)
print(a)

In [ ]:
#set method
a = {54,25,69,855,75}
a.clear()
print(a)

In [ ]:
#set method
a = {54,25,69,85,75}
a.pop()
print(a)

In [ ]:
#set method
a = {54,25,69,85,75}
a.union()
print(a)

In [ ]:
#set method
a = {54,25,69,85,75}
a.intersection()
print(a)

In [ ]:
# loops
# while
# for

i = 1
while i <= 20:
  print("kunal",i)
  i = i+1

In [ ]:
i = 1
while i<=20:
     print(i)
     i+=1

In [ ]:
i = 20
while i>=1:
     print(i)
     i-=1

In [ ]:
num = [1, 5, 7, 4, 2, 6, 5]

i = 0
while i < len(num):
    print(num[i])
    i += 1

In [ ]:
num = (44, 25, 96, 36, 15, 75)
x = 36
i = 0

while i < len(num):
    if num[i] == x:
        print("found at idx", i)
        break
    else:
        print("not found")
    i += 1
    print("end")

In [ ]:
# continue
i = 0
while i<=10:
  if(i==5):
    i+=1
    continue
  print(i)
  i+=1

In [ ]:
i = 0
while i <= 10:

    if i % 2 == 0:
        i+=1
        continue
    print(i)
    i+=1

In [ ]:
# for loop
a = ["aman","kunal","ally","akash"]
for i in a:
  print(i)

In [ ]:
name = "kunal bhai"
for i in name:
  print(i)
else:

  print("end")

In [ ]:
name = "kunal bhai"
for i in name:
  if(i=="l"):
      print(i,"l found,")
      break
  print(i)
else:
  print("end")

k
u
n
a
l l found,

In [ ]:
num = (12,34,45,56,67,78,)
x = 56
idx = 0
for i in num:
  if(i==x):
    print("number found at idx", idx)
    idx+=1

number found at idx 0

In [ ]:
# range
seq = range(1)
for i in seq:
  for i in seq:
   print(i)

0

In [ ]:
for i in range(0,10,2):
   print(i)

0
2
4
6
8

In [ ]:
for i in range(5, -1, -1):
    print(i)

5
4
3
2
1
0

In [ ]:
# function
#def fun_name(parameters1,perameters2)
#  somework
# return

def sum(a,b):
  sum = a+b
  print(sum)
  return sum
sum(5,6)

11

11

In [ ]:
def sum(a, b):
    sum = a + b
    print(sum)
    return sum

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

sum(a, b)

Enter first number: 3
Enter second number: 1
4

4

In [ ]:
def avg(a, b, c):
    result = (a + b + c) / 3
    return result
print(avg(3, 6, 9))

6.0

In [ ]:
def prod(a=5, b=10):
    return a * b

print(prod(10))

100

In [ ]:
def print_length():
    city = ["delhi", "dehradun", "bettiah", "india"]
    heros = ["batman", "ironman", "saktiman"]

    print("Length of city list =", len(city))
    print("Length of heros list =", len(heros))

print_length()

Length of city list = 4
Length of heros list = 3

In [ ]:
def inr_to_usd(inr, rate=88):
    usd = inr / rate
    return usd

amount = float(input("Enter amount in INR: "))
result = inr_to_usd(amount)

print("USD =", round(result, 2))

Enter amount in INR: 100
USD = 1.14

In [ ]:
def my_function():
  pass

In [ ]:
for i in range(10):
  if i == 5:
    pass
  else:
    print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
# oops
class students:
  name = "kunal"

s1 = student()
print(s1.name)

NameError: name 'student' is not defined

In [ ]:
class car:
  colour = "black"
  brand = "tata"

c1 = car()
print(c1.brand,c1.colour)
print(c1.colour)

tata black
black

In [29]:
# class student:
# def_init_():

class student :
  def __init__(self,name,age,c_grade):
    self.name = name
    self.a = age
    self.grade = c_grade

s1 = student("kunal","24","A")
print(s1.name,s1.a,s1.grade)

kunal 24 A

In [37]:
class Student:
    def __init__(self, f_name, employee_id, salary,placement):
        self.name = f_name
        self.emp_id = employee_id
        self.salary = salary
        self.p = placement

s1 = Student("kunal", "202304029", "25k","yes")
print(s1.name, s1.emp_id, s1.salary,s1.p)
s1.name = "aman"
print(s1.name)
print(s1.name, s1.emp_id, s1.salary,s1.p)

kunal 202304029 25k yes
aman
aman 202304029 25k yes